{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<h1>Profile of
		{% if user is defined %}
			{{ user.username }}
		{% else %}
			Unknown user
		{% endif %}
	</h1>
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
	<a href="{{ path('game_new', { id: user.id }) }}"><b>Create a new game</b></a>
{% endblock fos_user_content %}
