{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
            <ol>
                {% for user in users %}
                    <li class="classements">{{ user.username }} {{ user.score }} pts</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="navbar-fixed-bottom">
    <div class="container">
        <div class="col-xs-4">
            <span>
                <a href="{{ path('index') }}"><i class="fa fa-inverse fa-chevron-left fa-3x"></i></a>
            </span>
        </div>
        <div class="col-xs-4">
            <a title="Créer une partie" href="#"><i class="fa fa-plus fa-3x" aria-hidden="true"></i>	</a>
        </div>
        <div class="col-xs-4">
            <a title="Classement" href="#"><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
{% endblock %}

