<div class="container-fluid viewtop">
    <div class="row">
        <div class="col-xs-2">
            <span>
                <i class="fa fa-star-o fa-3x" id="rating"></i><p> {{ user.score }} points</p>
            </span>
        </div>
        <div class="col-xs-7" id="pseudo">
            <h2>{{ user.username }}</h2>
        </div>
        <div class="col-xs-3 pull-right" id="avatar">
            <img src="http://placehold.it/350x350" alt="myAvatar" class="img-circle img-responsive">

        </div>
    </div>
</div>