{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}
{% block body %}
<<<<<<< HEAD




	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
			<center>
				<div style="width: 100%;"><img class="rond"  src="https://images5.alphacoders.com/609/thumb-350-609966.jpg" /></div>
				</center>
			</div>
		</div>
		<br />
		<div class="row jumbotron">
			<div class="col-xs-12" style="text-align: center; ">
				<div style="margin-bottom: 15px;">Postée par : <br />
					<a href="">machin</a> </div>
				<button type="button" class="btn btn-primary">Participer</button>
			</div>
		</div>



		<footer class="navbar-fixed-bottom" style="margin-bottom:0;">

			<div class="row">
				<center>
					<div class="col-xs-4">
						<a title="Profil" href="{{ path('profil') }}"><i class="fa fa-users fa-3x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-4">
						<a title="Créer une partie" href="#"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-4">
						<a title="Classement" href="#"><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></a>
					</div>
				</center>
			</div>
		</footer>
	</div>
{% endblock %}