<div class="container-fluid viewtop">
    <div class="row">
        <div class="col-xs-4">
            <span>
                <i class="fa fa-star-o fa-3x" id="rating"></i>
            </span>
        </div>
        <div class="col-xs-3 pull-right" id="avatar">
            <img src="http://placehold.it/350x350" alt="myAvatar" class="img-circle img-responsive">
        </div>
    </div>
</div>