{% extends "base.html.twig"%}
{% block body %}



<div class="container-fluid" style="margin-top: 15px;">

		
		<div class="row">
			<div class="col-xs-12">
				<center>
					<img style="width:70%;" src="http://t1.gstatic.com/images?q=tbn:ANd9GcT57jDcUUDApqmtUih08vXhIpZjU5zGuYX0Xyk4GaJGus7_ctwWLONSD5c" />
				</center>
			</div>
		</div>
		
<br />

				<div class="row jumbotron">
						<div class="col-xs-12 " style="text-align: center;">
						<div style="margin-bottom: 10px;">Postée par <a href="">machin</a> </div>
							<button type="button" class="btn btn-primary">Participer</button>
						</div>
				</div>







			<footer class="navbar-fixed-bottom" style="margin-bottom:15px">
				<div class="row">
					<center>
						<div class="col-xs-4">
							<a title="Profil" href="#"><i class="fa fa-users" aria-hidden="true"></i>		
						</div>

						<div class="col-xs-4">
							<a title="Créer une partie" href="#"><i class="fa fa-plus" aria-hidden="true"></i>	</a>
						</div>

						<div class="col-xs-4">
							<a title="Classement" href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>	
						</div>
					</center>
				</div>
			</footer>
</div>



{% endblock %}