{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}

{% block body %}
{% endblock %}
{% block footer %}
    <div class="col-xs-4">
            <span>
                <i class="fa fa-inverse fa-chevron-left fa-4x"></i>
            </span>
    </div>
{% endblock %}

