{% extends 'AppPhotoBundle:Default:frontLayout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row formulaire">
            <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Modifier" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="col-xs-4">
            <span>
               {# <a href="{{ path('home') }}"><i class="fa fa-inverse fa-chevron-left fa-3x"></i></a>#}
            </span>
    </div>
{% endblock %}

